[Distribution]
Distribution=arch
Mirror=https://jpn.mirror.pkgbuild.com

[Output]
Bootable=false
Format=raw_btrfs
Output=CONTAINER_NAME

[Packages]
Packages=
	flashplugin
	noto-fonts
	noto-fonts-cjk
	pepper-flash
	polkit
	qutebrowser
	xorg-font-util
	xorg-font-utils
	xorg-xinit
	xorg-server
	xorg-server-common

[Partitions]
	RootSize=4294967296
