[Distribution]
Distribution=arch
Mirror=MIRROR

[Output]
Bootable=false
Format=raw_btrfs
Output=CONTAINER_NAME

[Packages]
Packages=
	chromium
	flashplugin
	noto-fonts
	noto-fonts-cjk
	pacman-contrib
	pepper-flash
	polkit
	reflector
	xorg-font-util
	xorg-font-utils
	xorg-xinit
	xorg-server
	xorg-server-common
	!linux
	!linux-headers
	!iptables
	!linux-api-headers
	!linux-firmware
	!systemd-sysvcompat
	!usbutils
	!util-linux
BuildPackages=
	sudo
	binutils
BuildSources=mkosi.builddir
WithNetwork=true

[Partitions]
	RootSize=4294967296
