[Distribution]
Distribution=arch
Mirror=MIRROR

[Output]
Bootable=false
Format=raw_btrfs
Output=CONTAINER_NAME

[Packages]
Packages=
	chromium
	flashplugin
	noto-fonts
	noto-fonts-cjk
	pacman-contrib
	pepper-flash
	polkit
	qutebrowser
	reflector
	xorg-font-util
	xorg-font-utils
	xorg-xinit
	xorg-server
	xorg-server-common
	!systemd-sysvcompat
	!usbutils

[Partitions]
	RootSize=4294967296
