[Distribution]
Distribution=arch

[Output]
Format=tar
XZ=yes
Output=CONTAINER_NAME.tar.xz

[Packages]
WithNetwork=yes
Packages=
	base-devel
	ffmpeg
	git
	imagemagick
	libffi
	libyaml
	nodejs
	npm
	openssl
	polkit
	postgresql
	postgresql-libs
	protobuf
	python2
	redis
	reflector
	ruby
	ruby-bundler
	sudo
	yarn
	zlib
