[Distribution]
Distribution=arch
Mirror=MIRROR

[Output]
Format=raw_gpt
XZ=yes
Output=CONTAINER_NAME

[Packages]
WithNetwork=yes
Packages=
	base-devel
	ffmpeg
	git
	imagemagick
	libffi
	libyaml
	nodejs-lts-carbon
	npm
	openssl
	pacman-contrib
	pgbouncer
	polkit
	postgresql
	postgresql-libs
	protobuf
	python2
	redis
	reflector
	ruby
	ruby-bundler
	ruby-irb
	sudo
	yarn
	zlib
	!linux
	!linux-headers
	!iptables
	!linux-api-headers
	!linux-firmware
	!systemd-sysvcompat
	!usbutils
	!util-linux
	!pciutils

[Partitions]
RootSize=4294967296
