[Unit]
Description=Daily Mastodon jobs
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/opt/bin/daily_task.sh

[Install]
WantedBy=multi-user.target
