[Unit]
Description=Daily Mastodon jobs
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/opt/bin/daily-task

[Install]
WantedBy=multi-user.target
