[Distribution]
Distribution=arch
Mirror=MIRROR

[Output]
Format=raw_gpt
Output=CONTAINER_NAME

[Packages]
Packages=
	git
	nginx
	pacman-contrib
	python-flask
	reflector
	!linux
	!linux-headers
	!iptables
	!linux-api-headers
	!linux-firmware
	!systemd-sysvcompat
	!usbutils
	!util-linux
	!pciutils

[Partitions]
RootSize=2147483648
