[Distribution]
Distribution=arch
Mirror=MIRROR

[Output]
Format=raw_btrfs
Output=CONTAINER_NAME

[Packages]
Packages=
	aria2
	base-devel
	ccache
	git
	optipng
	pacman-contrib
	polkit
	reflector
	sudo
	upx

[Partitions]
	RootSize=3221225472
