[Distribution]
Distribution=arch
Mirror=MIRROR

[Output]
Format=raw_btrfs
Output=CONTAINER_NAME

[Packages]
Packages=
	dnscrypt-proxy
	polkit
	privoxy
	reflector
	tor
	unbound
	!pciutils
	!systemd-sysvcompat
	!usbutils

[Partitions]
	RootSize=2147483648
