[Distribution]
Distribution=arch

[Output]
Format=tar
XZ=yes
Output=CONTAINER_NAME.tar.xz

[Packages]
Packages=
	sudo
	reflector
	polkit
	git
	nodejs
	yarn
	imagemagick
	ffmpeg
	base-devel
	libffi
	libyaml
	openssl
	zlib
	redis
	postgresql-libs
