[Distribution]
Distribution=arch
Mirror=MIRROR

[Output]
Format=raw_btrfs
Output=CONTAINER_NAME

[Packages]
Packages=
	pacman-contrib
	polkit
	reflector
	!linux
	!linux-headers
	!iptables
	!linux-api-headers
	!linux-firmware
	!pciutils
	!systemd-sysvcompat
	!usbutils
	!util-linux

[Partitions]
RootSize=2147483648
