[Distribution]
Distribution=arch
Mirror=MIRROR

[Output]
Format=raw_btrfs
Output=CONTAINER_NAME

[Packages]
Packages=
	make
	pacman-contrib
	polkit
	reflector
	texlive-core
	texlive-bin
	texlive-lang
	biber
	!pciutils
	!systemd-sysvcompat
	!usbutils

[Partitions]
RootSize=5368709120
