[Distribution]
Distribution=arch
Mirror=MIRROR

[Output]
Format=raw_btrfs
Output=CONTAINER_NAME

[Packages]
Packages=
	make
	pacman-contrib
	polkit
	reflector
	texlive-core
	texlive-bin
	texlive-lang
	biber
	!linux
	!linux-headers
	!iptables
	!linux-api-headers
	!linux-firmware
	!systemd-sysvcompat
	!usbutils
	!util-linux
	!pciutils

[Partitions]
RootSize=5368709120
